[submodule "packages/pinbench_pdl"]
	path = packages/pinbench_pdl
	url = https://github.com/PinBench/pdl.git
	branch = main
[submodule "packages/pinbench_cdl"]
	path = packages/pinbench_cdl
	url = https://github.com/PinBench/cdl.git
	branch = main
